built/
pxt_modules/
node_modules/
.pxt/
projects/*
!projects/python-compatibility/
!projects/python-compatibility/main.py
!projects/python-compatibility/pxt.json
package.json
package-lock.json
tsconfig.json
*.hex
*.uf2
*.log
web/dist/
